.span10{
	min-width: 800px;
	width: 95%;
	margin: 0 auto;
	float: none;
}
.nav-tabs{
	border: 0;
}
.btn{background-color: #4dd4ba;}
#selecttext .controls>span{margin-left: -20px;margin-right: 12px;}
.well{padding: 10px 0 0 20px;}